{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}

  <h1>About</h1>
    <p class="intro">I am a physicist with interests in group theory, particle physics, QFT, machine learning and more. Currently studying at the <a href="https://www.bme.hu/?language=en" target="_blank">Budapest University of Technology and Economics</a> (BME). My research focuses on group theory and quantum information theory.</p>
  <p>You can reach me via the following:</p>
  <ul>
    <li>Email: <a href="mailto:emmermarci@gmail.com" target="_blank">emmermarci@gmail.com</a></li>
    <li>LinkedIn: <a href="https://www.linkedin.com/in/marcell-emmer-3a5b28244/" target="_blank">Marcell Emmer</a></li>
    <li>Twitter/X: <a href="https://twitter.com/_emmer_marcell" target="_blank">@_emmer_marcell</a></li>
    <li>Github: <a href="https://github.com/emmermarcell" target="_blank">emmermarcell</a></li>
  </ul>
{% endblock %}