{% extends 'base.html' %}
{% block title %}Interests - Marcell Emmer's Personal Blog{% endblock %}
{% block content %}
<h1>Interests</h1>
<div class="category y2k">
<h2>Great Series and Movies</h2>
<ul>
<li><strong>Jojo's Bizarre Adventure</strong> - An anime series that follows the adventures of the Joestar family as they battle supernatural villains using their unique powers.</li>
<li><strong>Cowboy Bebop</strong> - An anime series set in the year 2071, following the adventures of a group of bounty hunters traveling on their spaceship, the Bebop.</li>
<li><strong>Japanese Tales of the Macabre</strong> - A collection of short horror stories from Japan, featuring ghosts, demons, and other supernatural beings.</li>
<li><strong>Cabinet of Curiosities</strong> - A Netflix series that explores the strange and unusual artifacts and stories from around the world.</li>
<li><strong>Asobi Asobase</strong> - An anime series that follows the absurd and humorous everyday lives of three high school girls in a gaming club.</li>
</ul>
</div>
<h2>Book Recommendations</h2>
<ul>
<li><strong>Dune by Frank Herbert</strong> - A science-fiction novel set in a distant future, where noble houses fight for control of a desert planet called Arrakis, which is the only source of a valuable substance called "spice".</li>
<li><strong>The Stranger by Albert Camus</strong> - A philosophical novel that explores the themes of existentialism and absurdism, following the story of a man named Meursault who kills an Arab and faces the consequences.</li>
<li><strong>Surely You're Joking, Mr. Feynman! by Richard Feynman</strong> - An autobiographical book by the physicist Richard Feynman, which describes his life and work in an entertaining and humorous way.</li>
<li><strong>Physics and Beyond by Werner Heisenberg</strong> - A book by the Nobel Prize-winning physicist Werner Heisenberg, which explores the philosophical implications of quantum mechanics and the role of science in society.</li>
</ul>
<h2>Music Playlists</h2>
<p>Playlist:</p>
<iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1EIguRh8QhPALx" width="100%" height="352" border="5" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/0RMdRlXD6Pc1gYFgzr4D1u?utm_source=generator" width="100%" height="352" border="5" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
{% endblock %}