{% extends 'base.html' %}
{% block title %}Interests - Marcell Emmer's Personal Blog{% endblock %}
{% block content %}
    <h1>Interests</h1>
    <div class="category y2k">
      <h2>Cool Series and Movies</h2>
      <ul>
      <li><strong>Jojo's Bizarre Adventure</strong> - An anime series that follows the adventures of the Joestar family as they battle supernatural villains using their unique powers.</li>
      <li><strong>Cowboy Bebop</strong> - An anime series set in the year 2071, following the adventures of a group of bounty hunters traveling on their spaceship, the Bebop.</li>
      <li><strong>Japanese Tales of the Macabre</strong> - A collection of short horror stories from Japan, featuring ghosts, demons, and other supernatural beings.</li>
      <li><strong>Cabinet of Curiosities</strong> - A Netflix series that explores the strange and unusual artifacts and stories from around the world.</li>
    </ul>
    </div>
    <h2>Book Recommendations</h2>
    <ul>
      <li>Dune by Frank Herbert</li>
      <li>The Stranger by Albert Camus</li>
      <li>Surely You're Joking, Mr. Feynman! by Richard Feynman</li>
    </ul>
    <div class="category y2k">
      <h2>N64 Articles and Reviews</h2>
      <ul>
        <li>The Legend of Zelda: Ocarina of Time - An action-adventure game released in 1998 for the Nintendo 64. It follows the story of Link as he travels through time to stop the evil Ganondorf.</li>
        <li>The Legend of Zelda: Majora's Mask - An action-adventure game released in 2000 for the Nintendo 64. It follows the story of Link as he travels through time to prevent the moon from crashing into the land of Termina.</li>
        <li>Banjo-Kazooie - A 3D platformer game released in 1998 for the Nintendo 64. It follows the story of Banjo, a bear, and Kazooie, a bird, as they embark on a quest to save Banjo's sister from the evil witch Gruntilda.</li>
      </ul>
    </div>
    <h2>House Music Articles and Playlists</h2>
    <p>Playlist:</p>
    <iframe src="https://open.spotify.com/embed/playlist/37i9dQZF1EIguRh8QhPALx" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
{% endblock %}
