{% extends 'base.html' %}
{% block title %}Interests - Marcell Emmer's Personal Blog{% endblock %}
{% block content %}
<h1>Interests</h1>
<div class="category y2k">
<h2>Book Recommendations</h2>
<ul>
  <li><strong>The Stranger by Albert Camus</strong><br>A philosophical novel that explores the themes of existentialism and absurdism, following the story of a man named Meursault who kills an Arab and faces the consequences.</li>
  <li><strong>Dune by Frank Herbert</strong><br>A groundbreaking sci-fi saga by Frank Herbert. Set in a distant future, it follows noble houses, factions, and messianic figures on the desert planet Arrakis, known as Dune. With its rich world-building and complex characters, the series delves into power struggles, prophetic visions, and ecological complexities.</li>
  <li><strong>Surely You're Joking, Mr. Feynman! by Richard Feynman</strong><br>An autobiographical book by the physicist Richard Feynman, which describes his life and work in an entertaining and humorous way.</li>
  <li><strong>The Feynman Lectures on Physics by Richard Feynman, Robert B. Leighton, and Matthew Sands</strong><br>A set of lectures by Richard Feynman, which provide an introduction to the field of physics and cover a wide range of topics, from mechanics to electromagnetism to quantum mechanics.</li>
  <li><strong>Physics and Beyond by Werner Heisenberg</strong><br>A book by the Nobel Prize-winning physicist Werner Heisenberg, which explores the philosophical implications of quantum mechanics and the role of science in society.</li>
</ul>

<h2>Music Playlists</h2>
</div>
<p>Some music I enjoy a lot.</p>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/0sBAKp6ViP7ahyaxVtrpvp?utm_source=generator&theme=0" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
{% endblock %}