<!DOCTYPE html>
<html>
  <head>
    <title>Create a New Post</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/new_post.css') }}">

  </head>
  <body>
    <h1>Create a New Post</h1>
    <form action="/new" method="POST">
      <label for="title">Title:</label><br>
      <input type="text" id="title" name="title"><br><br>
        <label for="date_posted">Date:</label><br>
      <textarea id="date_posted" name="date_posted"></textarea><br><br>
        <label for="tags">Tags:</label><br>
      <textarea id="tags" name="tags"></textarea><br><br>
      <label for="content">Content:</label><br>
      <textarea id="content" name="content" rows="50" cols="50"></textarea><br><br>
      <label for="paper">Paper:</label><br>
      <textarea id="paper" name="paper"></textarea><br><br>
        <input type="submit" id="create-post-button" value="Create Post">
    </form>
  </body>
</html>
