{% extends 'base.html' %}
{% block title %}Studies - Marcell Emmer's Personal Blog{% endblock %}
{% block content %}
    <h1>Studies</h1>
    <h2>Physics Information and References</h2>
    <p>If you're interested in learning about physics, but don't know where to start, I have some great introductory book recommendations for you. These are my favorite subjects:</p>
    <div>
      <strong>Special and General Relativity:</strong>
      <ul>
        <li>The Geometry of Minkowski Space Time by Gregory L. Naber</li>
        <li>General Relativity by Robert M. Wald</li>
      </ul>
    </div>
    <div>
      <strong>Particle Physics:</strong>
      <ul>
        <li>Introduction to Elementary Particles by David J. Griffiths</li>
      </ul>
    </div>
    <div>
      <strong>Quantum Field Theory:</strong>
      <ul>
        <li>An Introduction to Quantum Field Theory by Michael E. Peskin and Daniel V. Schroeder</li>
      </ul>
    </div>
    <h2>Machine Learning References</h2>
    <p>Some references I found useful for studying machine learning. I recommend to go through the books in the order they are listed.</p>
    <p>Books:</p>
    <ul>
        <li><a href="https://themlbook.com/">"The Hundred-Page Machine Learning Book"</a> by Andriy Burkov</li>
        <li><a href="https://www.oreilly.com/library/view/hands-on-machine-learning/9781098125967/">"Hands-On Machine Learning with Scikit-Learn, Keras, and TensorFlow"</a> by Aurélien Géron</li>
        <li><a href="https://www.deeplearningbook.org/">"Deep Learning"</a> by Ian Goodfellow, Yoshua Bengio, and Aaron Courville</li>
    </ul>
    <p>Courses:</p>
    <ul>
        <li>Andrew Ng's Machine Learning Course on Coursera</li>
        <li>Dan Becker's Introduction to Deep Learning in Python on Datacamp</li>
        <li>Isaiah Hull Introduction to TensorFlow in Python on Datacamp</li>
    </ul>
{% endblock %}
