{% extends 'base.html' %}
{% block title %}Studies - Marcell Emmer's Personal Blog{% endblock %}
{% block content %}
    <h1>Studies</h1>
    <h2>Physics Infos</h2>
    <ul>
      <li>Quantum Field Theory</li>
      <li>General Relativity</li>
      <li>Particle Physics</li>
    </ul>
    <h2>Machine Learning Recommendations</h2>
    <p>Books:</p>
    <ul>
      <li>"Hands-On Machine Learning with Scikit-Learn, Keras, and TensorFlow" by Aurélien Géron</li>
      <li>"Python Machine Learning" by Sebastian Raschka</li>
      <li>"Deep Learning" by Ian Goodfellow, Yoshua Bengio, and Aaron Courville</li>
      <li>"The Hundred-Page Machine Learning Book" by Andriy Burkov</li>
    </ul>
    <p>Courses:</p>
    <ul>
      <li>Andrew Ng's Machine Learning Course on Coursera</li>
      <li>Fast.ai's Practical Deep Learning for Coders Course</li>
    </ul>
{% endblock %}
