{% extends 'base.html' %}
{% block title %}Studies - Marcell Emmer's Personal Blog{% endblock %}
{% block content %}
    <h1>Studies</h1>
    <h2>Physics Infos and References</h2>
    <p>Here, I would like to provide you with some great introductory books on some of my favorite subjects in physics. If you're interested in learning more about these topics but don't know where to start, these books will be an excellent guide. </p>
    <ul>
        <li><strong>Special and General Relativity</strong> - The Geometry of Minkowski Space Time by Gregory L. Naber, General Relativity by Robert M. Wald </li>
      <li><strong>Particle Physics</strong> - Introduction to Elementary Particles by David J. Griffiths</li>
      <li><strong>Quantum Field Theory</strong> - An Introduction To Quantum Field Theory by Michael E. Peskin, Daniel V. Schroeder</li>
    </ul>
    <h2>Machine Learning References</h2>
    <p>Some references I found useful for studying machine learning. I recommend to go through the books in the order they are listed.</p>
    <p>Books:</p>
    <ul>
        <li><a href="https://themlbook.com/">"The Hundred-Page Machine Learning Book"</a> by Andriy Burkov</li>
        <li><a href="https://www.oreilly.com/library/view/hands-on-machine-learning/9781098125967/">"Hands-On Machine Learning with Scikit-Learn, Keras, and TensorFlow"</a> by Aurélien Géron</li>
        <li><a href="https://www.deeplearningbook.org/">"Deep Learning"</a> by Ian Goodfellow, Yoshua Bengio, and Aaron Courville</li>
    </ul>
    <p>Courses:</p>
    <ul>
      <li>Andrew Ng's Machine Learning Course on Coursera</li>
      <li>Fast.ai's Practical Deep Learning for Coders Course</li>
    </ul>
{% endblock %}
